# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build

# misc
.DS_Store
.env
npm-debug.log

# InteliJ IDEA
.idea/libraries/mybankingclient_node_modules.xml
.idea/misc.xml
.idea/modules.xml
.idea/mybankingclient.iml
.idea/vcs.xml
.idea/watcherTasks.xml
.idea/jsLibraryMappings.xml
.idea/workspace.xml
