.account {
    width: 90%;
    margin: auto
}

.accountCardDescription {
    text-align: right;
}

.accountCardContent {
    position: relative;
    float: left;
    text-align: center;
    padding-right: 15px;
}