.cardAccount{
    margin: 0 auto 10px;
    width: 100% !important;
}

.cardMenuAccount{
    color: #000000
}

.cardActionsDiv{
    float: left;
    position: relative;
    margin: 0 10px
}

.cardActionAlign {
    font-size: 11px;
    margin: 0 auto;
    width: 100%;
    text-align: center
}

.chipContact{
    margin: 3px 0px 0px 1px;
}