#root{
  height: 100% !important;
}

.reactRoot {
  height: 100% !important;
}


.ui.container {
  width: 100% !important;
  height: calc(100% - 18px) !important;
  min-height: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.ui.container.pushable {
  width: 100% !important;
  height: calc(100% - 18px) !important;
  min-height: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.ui.container.pushable.pusher {
  width: 100% !important;
  height: calc(100% - 18px) !important;
  min-height: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.dimmable:not(.body) {
  width: 100% !important;
  height: calc(100% - 18px) !important;
  min-height: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  position: initial !important;
}