#root{
  height: 100% !important;
}

.appRoot {
  height: 100% !important;
}

.appContainer {
  width: 100% !important;
  height: calc(100% - 44px) !important;
}

.dimmable:not(.body) {
  padding-top: 40px !important;
  position: initial !important;
}
